{% extends 'portfolio/base.html' %}
{% block content%}
{% load static %}

<section class="intro">
            <article class="intro-article">
                <h2>Pandora</h2>
                <p>Pandora is the mysterious planet on which the story of all of the Borderlands games takes place. It is a barren, desolate world filled with dangerous creatures. Pandora's lone moon is named Elpis.</p>
                <p>Built by Eridians as an eternal prison for Destroyer, Pandora has highly unusual features for a celestial body. Everything from aggressive fauna to unpredictable climate to sources of deadly mutations is specifically designed to attract, challenge, and at the same time repel conquerors, researchers and adventurers of all sorts. </p>
                <p>Millennia before the events of Borderlands, a highly advanced Eridian civilization (said to not be gods nor demons, but people who were literally able to pluck stars from the sky) created Pandora and its moon Elpis in an effort to stop and imprison the cosmic entity known as The Destroyer. The planet itself was constructed with an impenetrable but unstable Eridium mantle, and a giant Eridian weapon known as The Warrior was used to protect it from those who attempted to stop the Eridians' work and gain favor with The Destroyer. A Siren named Nyriad completed the sealing of The Destroyer, leeching all the collective energy of the Eridians to perform this monumental task at the cost of their lives and civilization.</p>
                <p>To keep The Destroyer fed and sedated, the Eridians spread rumors of what became known as "The Vault" to lure unsuspecting treasure hunters to their demise every 200 years. Little is known about what else the Eridians have done on the planet, but by the presence of various ruins and the famed Vaults containing The Warrior and the Guardians, it can be inferred that it was used as a remote prison location for other dangerous entities as well.</p>
            </article>
        </section>
        <section class="featured">
            <article class="feature-img">
                <figure>
                    <img src="{% static 'portfolio/images/pandora-from-space.png' %}" alt="Pandora From Space">
                </figure>
            </article>
            
        </section>
{% endblock %}

