@charset "utf-8";

/* @import url('https://fonts.googleapis.com/css?family=Knewave|Noto+Sans:400,700&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Knewave|Lacquer|Noto+Sans:400,700,700i|Odibee+Sans&display=swap');

/*
font-family: 'Knewave', ;
font-family: 'Noto Sans', ;
font-family: 'Odibee Sans', ;
font-family: 'Lacquer', ;
 */
/* resets */
 html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img {
    max-width: 100%;
    height: auto;
}
/* resets */

.logo {
    display: flex;
    align-items: center;
    /* margin-right: 10px; */
}

.logo img {
    padding-right: 7px;
}

body {
    margin: 0;
    font-family: 'Noto Sans' ;
    background-color: #f8f3ae;
    background-image: url(../images/bg-logo.png);
    background-repeat: repeat-y;
    }
    h1, h2, h3, h4 {
        margin-top: 0;
    }
    
    h1, h2, h3, h4, nav, a {
        font-family: 'Knewave' ;
    }
    
    p {
        line-height: 1.4;
    }

/* Wrapper */
.wrapper {
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
    border: 1px solid goldenrod; 
}


.top-section {
    position: relative;
}

header {
    /* adding menu and logo to the same line side by side */
    display:flex;
    justify-content: space-between;
    position: absolute; 
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    font-weight: bold;
    /* ^ putting menu on top of the banner image */
}

header h1 {
    margin: 0;
    font-size: 2.2em;
}

header img {
    padding-left: 200px;
  
     }

header a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex; 
    
}

header nav a {
    display:block;
    padding: 0 20px;
    line-height: 50px;
    font-size: 1.3em;
    
}

header nav a:hover,
header nav a:focus,
header nav a:active {
    background-color: rgb(247, 248, 173);
    color: black;
    border: 1px solid gold;
}

.banner img {
    /* removing image whitespace */
    display: block;
}

/* Main Styles */
main {
    /* border:5px solid red; */
    width: 1100px;
    margin: 0 auto 20px;
    padding-top: 20px;
}
main h2 {
    text-align: center;
    margin-bottom: 0.5em;
    font-family: 'Odibee Sans' ;
}


/* Intro Styles */
.intro {
    /* border: 5px solid greenyellow; */
    width: 95%;
    margin: 0 auto;
    border-top: 3px dotted gold;
    border-bottom: 3px dotted gold;
    padding-bottom: 16px;
    padding-top: 10px;
}

.intro-article li {
    /* line-height: 2em; */
    margin-top: 10px;
}

/* Credits styles */
.intro-article-credits p {
    text-align: center;
    margin: 0 auto 0;
    
}
.intro-article-credits a {
    text-decoration: none;
}
.intro-article-credits h2 {
    text-align: center;
    margin: 0 auto 0;
}
.feature-credits {
    /* margin-top: 20px; */
    margin: 20px auto 0px;
    width: 70%;
}
.featured-credits {
    border-bottom: 3px dotted gold;
    padding-bottom: 0px;
}
.featured-credits article {
    margin-left: auto;
    margin-right: auto;
}

/* Feature-img styles */
.feature-img {
    /* margin-top: 20px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 70%;
}

/* Flora Styles */

.featured-flora {
    margin-top: 20px;
    border-bottom: 3px dotted gold;
    padding-bottom: 40px;
}

.feature-flora {
   margin-left: 160px;
    
}

.feature-flora img {
    border: solid 2px black;
    margin: 0; 
 }

.flora-caption {
    margin-top: 15px;
    position: absolute;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: lacquer;
    font-size: large;
}


/* Fauna Styles */
.feature-fauna {
    /* border: 5px solid greenyellow; */
    margin-top: 20px;
    width: 17%;
}


.featured-fauna {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px dotted gold;
    padding-bottom: 16px;
}

.featured-fauna figure {
    margin: 0 0 10px;
}

/* End of Fauna Styles */

.feature-geo {
    /* border: 5px solid greenyellow; */
    border-bottom: 1px dotted orange;
    margin-top: 20px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    display: flex;
}

.feature-geo figure {
    width: 50%;
    margin: 10px;
}
.feature-text-geo {
    width: 50%;
}

.feature-text a {
    text-decoration: none;
}

.featured-geo {
    /* display: flex; */
    display: inline;
    justify-content: space-between;
    border-bottom: 3px dotted gold;
    padding-bottom: 16px;
}


.people-name {
    padding-top: 20px;
    margin-bottom: 0px;
}

.featured-people {
    /* display: flex; */
    display: inline;
    justify-content: space-between;
    border-bottom: 3px dotted gold;
    padding-bottom: 16px;
}

.feature-people {
    /* border: 5px solid greenyellow; */
    border-bottom: 1px dotted orange;
    margin-top: 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    display: flex;
}

.feature-people figure {
    width: 50%;
    margin: 10px;
    padding-right: 10px;
}
.feature-text-people p {
    margin-top: 0px;
}

.feature-text-people  {
    width: 50%;
}


.vendors-table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.vendors-table table, th, td {
    
    border: 1px solid black;
    
     
}

.vendors-table tr:nth-child(even) {background-color: #f2f2f2;} 

.vendors-table td {
    height: 40px;
    padding: 10px;
    text-align: left;
}

.vendors-table th {
    height: 50px;
    text-align: center;
    vertical-align: center;
}

.vendors-table th {
    font-family: 'Odibee Sans' ;
    font-size: xx-large;
    margin-bottom: 0px;
}

.vendors-table tr:hover {background-color: orange;}

.featured-vendors {
    width: 95%;
    margin: 0 auto;
    border-bottom: 3px dotted gold;
}

.table-header {
    font-family: 'Lacquer';
    font-size: x-large;
    font-weight: bold;
    }

.table-row-header {
    font-family: 'Lacquer';
    /* font-size: large; */
    font-weight: bold;
    color: darkblue;
    }


/* Featured styles */
.featured {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px dotted gold;
    padding-bottom: 16px;
}

.feature {
    /* border: 5px solid greenyellow; */
    margin-top: 20px;
    width: 20%;
}

.featured figure {
    margin: 0 0 12px;
}

/* Getting to Pandora */
.cta {
    width: 90%;
}

.cta h2 {
    text-align: center;
    padding-top: 10px;
    font-family: 'Odibee Sans' ;
    margin-bottom: 0px;
}

.cta p {
    text-align: center;
    margin: 0 auto 0;
}
.cta a {    
    text-decoration: none;
   }

.get-info {
    border-bottom: 3px dotted gold;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;  
}
.back-button-logo {
    display: flex;
    align-items: center;
}
.back-button-logo p {
    padding-left: 5px;
}

.back-button a {
    text-decoration: none;
}

.back-button-logo, .cta-plug {
    flex:1;
}

/* Footer and credits */
footer {
    padding-right: 50px;
}

.footer-col-01 p {
    text-align: right;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans' ;
    line-height: 15px;
}

.footer-col-01 a {
    text-decoration: none;
}
